{% extends "base.html" %}




{% block hero_img %}
<div id="food_hero" class="images">
  {% include "navbar.html" with render_light_navbar=True %}
  
</div>
{% endblock %}

{% block textsection %}
<h1>
Our restaurants and bars offer an array of local and international cuisines</h1>
<h5>Open to everyone, not just hotel guests. Our menu can vary between seasons and restaurants.</h5>
<div id="line"></div>
<div class="container">
  <div class="group-header">
    <h5>
      Main Courses
    </h5>
    <span> €</span>
  </div>
  
  <h3>
    <span>Grilled Fish And Potatoes </span>
  </h3>
  <p>Freshly caught fish from our local fishermen, marinated with delicious spices and herbs. With potatoes(baked,grilled or pan fried)</p>
  <h3>
    <span>Asian Pear Salad</span>
  </h3>
  <p>Crisp pears and pecans with tender frisée and cheese. Topped with a wholegrain mustard dressing</p>
  <h3>
    <span>Stuffed Lobster Tail </span>
  </h3>
  <p>Stuffed with crabmeat and topped with red remoulade sauce</p>
  <h3>
    <span>Rib Eye Steak</span>
  </h3>
  <p>Grilled entrecôte topped with garlic butter. Served with grilled vegetables, creamy sweet potatoes/fries</p>

  <div id="line"></div>

  <h5>
    Desserts
  </h5>
  <span> €</span>
  
  <h3>
    <span>Fruit And Cream </span>
  </h3>
  <p>Seasonal fruits, whipped cream, honey and flavorings</p>
  <h3>
    <span>Chocolate Cake With Ice Cream</span>
  </h3>
  <p>Our very own Fudgy Chocolate Cake, with powdered sugar and scoops of ice cream</p>
</div>


</div>
</div>
</div>
{% endblock %}