{% extends "base.html" %}

{% block content %}
<h1>Welcome to Palma Carboccia Hotel</h1>
{% endblock %}

{% block hero_img %}
<div class="p-5 text-center bg-image" style="
      background-image: url('https://res.cloudinary.com/darav9s8b/image/upload/v1678449406/hero_1_mphfa4.jpg');
      height: 400px;
    ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        
        </div>
      </div>
    </div>
  </div>
{% endblock %}