{% extends "base.html" %}




{% block hero_img %}
<div id="prices_hero" class="images">
  {% include "navbar.html" %}
  
</div>
{% endblock %}

{% block textsection %}
<h1>
  Exceptional guest experiences
</h1>
<h5>Included in our rooms</h5>
<div>
  <ul>
    <li>Breakfast buffet</li>
    <li>Access to gym</li>
    <li>Bathroom accessories</li>
    <li>Slippers and bathrobe</li>
    <li>VIP guests - Bear Gryllis tour(limited spots)</li>
  </ul>
</div>

<h5>Room price per night: </h5>
  <p><br>
  Adults: 100€ <br>
  Children: 50€ <br>

</p>


<div id="line"></div>

<h5>
  Our most popular activites:
</h5>
<p><br>
  Wildlife tour: 45€ <br>
  Fish feeding: 9€ <br>
  Boat tour: 34 €

</p>
{% endblock %}