{% extends "base.html" %}

{% block hero_img %}
<div id="prices-hero" class="images">
  {% include "navbar.html" %}
  
</div>
{% endblock %}

{% block textsection %}
<h1>
  Exceptional guest experiences
</h1>
<h4>Welcome to check-in from 12pm. Check-out 2 pm</h4>
<h5>Included in our rooms:</h5>
<div>
  <ul>
    <li>Breakfast buffet</li>
    <li>Access to gym</li>
    <li>Bathroom accessories</li>
    <li>Slippers and bathrobe</li>
    <li>VIP guests - Bear Gryllis tour(limited spots)</li>
  </ul>
</div>

<h5>Room price per night: </h5>
<p><br>
  Base cost: 100€ <br>
  Per additional adult: 50€ <br>
  Per child: 25€ <br>
</p>

<div id="line"></div>

<h5>
  Our most popular activites:
</h5>
<p><br>
  Wildlife tour: 45€ <br>
  Fish feeding: 9€ <br>
  Boat tour: 34 €
</p>

{% endblock %}