{% extends "base.html" %}



{% block hero_img %}
<div id="the_hotel_hero" class="images">
  {% include "navbar.html" %}
  
</div>
{% endblock %}


{% block textsection %}
<h1> In the heart of the Whitsundays</h1>
<p>Palmas Carboccia is an exclusive private island resort, managed by the YugeOrangeGuy Hotel Group YOGHG.
  The nearest island to the Great Barrier Reef, Hayman Island is ideal for nature based activities and exceptional guest experiences. 
  Featuring 160 guest rooms, suites, villas and penthouses across three main accommodation wings, the property presents guests the ultimate in barefoot luxury. 
  Our spa is a heaven for body and soul.</p> <p> The resort’s on-island experiences range 
  from nature-bound walking trails, immersive wildlife tours, fish feeding, cultural weaving classes and a curated collection of sports and fitness activities including yoga,
   tennis lessons, state-of-the-art golf simulator and more. This summer we have a special guest instructor (limited spots only) available to our VIP patrons
    - a private wildlife tour with Bear Grylliss around the island - both to sea and land. Contact us for more information.</p>
{% endblock %}
    
