

<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="https://res.cloudinary.com/darav9s8b/image/upload/v1678450870/logo_w9hisf.jpg"
                alt="our logo" width="120" height="80">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse " id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'the_hotel' %}">The Hotel</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'our_rooms' %}">Our Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'food_drink' %}">Food & Drink</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'prices' %}">Prices</a>
                </li>
            
                {% if user.is_authenticated %}
                <a class="booking_button" href="{% url 'book_a_room' %}">
                    <button type="button" class="btn btn-secondary">Book Now</button>
                </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                        Logged in as
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'reservation' %}">My Reservations</a></li>
                        
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <a class="booking_button" href="{% url 'account_login' %}">
                    <button type="button" class="btn btn-secondary">Book Now</button>
                </a>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<script>

    const navLinks = document.getElementsByClassName("nav-link")
    if ( "{{render_light_navbar}}"  ) {
        for (link of navLinks) {
            link.classList.add("text-white")
        }
    }

    
</script>