{% extends "base.html" %}
{% block hero_img %}
<div id="booking-one-hero" class="images">
  {% include "navbar.html" %}
  
</div>
{% endblock %}

{% block textsection %}
    <div class="main_section">
        <div class="row">
            <div class="main-block">
                <div>
 
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
</div>
</div>
</div>
{% endblock %}
