{% extends "base.html" %}


{% block hero_img %}

<div class="hero_landing" style="
      background-image: url('https://res.cloudinary.com/darav9s8b/image/upload/v1678449406/hero_1_mphfa4.jpg');
      height: 620px;
      ">
      {% include "navbar.html" %}
    
      <div class="d-flex justify-content-center align-items-center h-100">
        <h1></h1>
        
        
      </div>
    </div>
  </div>
{% endblock %}

{% block textsection %}
  <div class="main_section">
        <div class="row">
            <div class="main-block">
              <form method="post" action=".">
                {% csrf_token %}
                <div id="date-picker-wrapper">
                  <div id="end-date-wrapper">
                    <p>start date:</p>
                    {{booking_form.start_date}}
                  </div>
                  <div id="end-date-wrapper">
                    <p>end date:</p>
                    {{booking_form.end_date}}
                  </div>
                </div>
                <p>Adults:</p>
                {{booking_form.amount_adults}}
                <p>Kids:</p>
                {{booking_form.amount_kids}}
                <input type="submit" value="Next">
              </form>
           </div>
        </div>
    </div>
  </div>
    {% endblock %}
