{% extends "base.html" %}


{% block hero_img %}
<div id="booking-hero" class="images">
  {% include "navbar.html" %}
  
</div>
{% endblock %}




{% block textsection %}
  
              <form method="post" action=".">
                {% csrf_token %}
                <div id="date-picker-wrapper">
                  
                  <div id="end-date-wrapper">
                    <p >Check-in:<i class="fa-solid fa-plane-arrival"></i></p>
                    {{booking_form.start_date}}
                  </div>
                  <div id="end-date-wrapper">
                    <p >Check-out:<i class="fa-sharp fa-solid fa-plane-departure fa-flip-horizontal"></i></p>
                    {{booking_form.end_date}}
                  </div>
                </div>
                <div id="guest-nr-wrapper">
                  <div id="adult-nr-wrapper">
                <p>Adults:</p>
                {{booking_form.amount_adults}}
              </div>
              <div id="kids-nr-wrapper">
                <p>Children:</p>
                {{booking_form.amount_kids}}
              </div>
            </div>
            <input type="submit" id="book-btn" class="btn btn-success" value="Next">
              </form>
    
    {% endblock %}
