{% extends "base.html" %}

{% comment %} Sends user to this page after summary is confirmed {% endcomment %}
{% block hero_img %}
<div id="booking-sucess-hero" class="images">
  {% include "navbar.html" %}
  
</div>
{% endblock %}

{% block textsection %}
  <div class="main_section">
    <div class="row">
      <h3 class="mt-4 mb-4">Thank you for your booking with us!</h3>

      <div class="d-flex justify-content-between mt-4 mb-4">
        <a class="btn btn-success" href="{% url 'home' %}" role="button">Back to Home</a>
        <a class="btn btn-primary" href="{% url 'my_reservations' %}" role="button">Take my to my reservations</a>
      </div>

    </div>
  </div>
  {% endblock %}
  