{% extends "base.html" %}


{% block hero_img %}

<div class="hero_landing" style="
      background-image: url('https://res.cloudinary.com/darav9s8b/image/upload/v1678449406/hero_1_mphfa4.jpg');
      height: 620px;
      ">
      {% include "navbar.html" %}
    
      
    </div>
  
{% endblock %}



{% block textsection %}
<div>
    
        <div class="container-md">
          <h2>Reservation summary</h2>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" value="{{booking_form.start_date.value}} - {{booking_form.end_date.value}}" disabled>
            </div>
            <div class="col">
              <input type="text" class="form-control" value="{{booking_form.total_price.value}}" disabled>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
          </div>
        </div>
    
</div>
{% endblock %}